*

!.github/
!.github/**
!assets/
!assets/**
!.editorconfig
!.gitattributes
!.gitignore
!.gitmodules
!.justfile
!CMakeLists.txt
!.clang-format
!.cmake-format.py
!LICENSE
!README.md

!include/
!include/**
!src/
!src/**/
!scripts/
!scripts/**

!*.md
!*.mdc
!*.svg
!*.png
!*.nix
!*.lock
!*.yaml
!*.yml
!*.sh
!*.c
!*.h
!*.cc
!*.hh
!*.cxx
!*.hxx
!*.cpp
!*.hpp
!*.cu
!*.cuh
